<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Gerenciamento de Produtos</title>
        <!-- BOOTSTRAP -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
              rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
              crossorigin="anonymous">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#" th:href="@{/}">Farmacos</a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container my2">
            <h1>Gerenciamento de Produtos</h1>
            <hr>
            <h2>Atualizar Produto</h2>
            <!-- th action precisa colocar toda a url request mapin + get/post maping da classe controller -->
            <form action="#" enctype="multipart/form-data" th:action="@{/produto/saveProduto}" th:object="${produto}" method="POST">
                <div class="form-group"> <!--<!-- descricao -->

                    <input id="nome" name="nome" type="text" required nome="nome" th:field="*{nome}" placeholder="Nome do Produto*" 
                           class="form-control mb-4 col-4">

                    <input id="qtd" name="qtd" type="number" required nome="qtd" th:field="*{qtdEstoque}" placeholder="QTD*" 
                           class="form-control mb-4 col-4">

                    <input id= "preco" name="preco" type="number" required nome="preco" th:field="*{valorVenda}" 
                           placeholder="Preço*" step="0.01" min="0" max="10000" class="form-control mb-4 col-4">

                    <textarea class="form-control mb-4 col-4" id="descricao" 
                              name="descricao" rows='5' placeholder="Descrição" th:field="*{descricao}"></textarea>

                    <input id="status" name="status" type="text" required cargo="status" th:field="*{status}" placeholder="Status*" 
                           class="form-control mb-4 col-4">

                    <input id="imagem" type="file" name="file" class="form-control-file mb-4 col-4" >
                    <!--nao pode usar o th field-->
                    <br>
                    <button type="submit" class="btn btn-info col-2">Atualizar</button>
                </div>
            </form>
        </div>
    </body>
</html>
