<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

<head>
	<title>Loja Farmacos - Finalizar Compra</title>
	<!-- BOOTSTRAP -->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
	<!-- BOOTSTRAP ICONS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
	<!--        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>



	<!-- LIMITAR TAMANHO DA DESCRIÇÃO -->
	<style>
		p.truncate-3l {
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	</style>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body style="min-width: 372px;">

	<!-- início barra de navegação -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary border-bottom shadow-sm mb-3">
		<div class="container">
			<a class="navbar-brand" th:href="@{/}">
				<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
					class="bi bi-heart-pulse" viewBox="0 0 16 16">
					<path fill-rule="evenodd"
						d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053.918 3.995.78 5.323 1.508 7H.43c-2.128-5.697 4.165-8.83 7.394-5.857.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17c3.23-2.974 9.522.159 7.394 5.856h-1.078c.728-1.677.59-3.005.108-3.947C13.486.878 10.4.28 8.717 2.01L8 2.748ZM2.212 10h1.315C4.593 11.183 6.05 12.458 8 13.795c1.949-1.337 3.407-2.612 4.473-3.795h1.315c-1.265 1.566-3.14 3.25-5.788 5-2.648-1.75-4.523-3.434-5.788-5Zm8.252-6.686a.5.5 0 0 0-.945.049L7.921 8.956 6.464 5.314a.5.5 0 0 0-.88-.091L3.732 8H.5a.5.5 0 0 0 0 1H4a.5.5 0 0 0 .416-.223l1.473-2.209 1.647 4.118a.5.5 0 0 0 .945-.049l1.598-5.593 1.457 3.642A.5.5 0 0 0 12 9h3.5a.5.5 0 0 0 0-1h-3.162l-1.874-4.686Z" />
				</svg>
				<strong>Farmacos Online</strong></a>
			<button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="navbar-collapse collapse justify-content-end" id="navbar">
				<ul class="navbar-nav mr-auto">
					<li>
						<a href="#" class="nav-link text-white">Item 1</a>
					</li>
					<li class="nav-item">
						<a href="#" class="nav-link text-white">Item 2</a>
					</li>
				</ul>

				<div class="align-self-end">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a th:href="@{/cliente/conta}" class="nav-link text-white">Minha Conta</a>
						</li>
						<li class="nav-item">
							<a href="#" class="nav-link text-white">Entrar</a>
						</li>
						<li class="nav-item">
							<a th:href="@{/carrinho}" class="nav-link text-white">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor"
									class="bi bi-cart3" viewBox="0 0 16 16">
									<path
										d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
								</svg>
							</a>
						</li>
					</ul>
				</div>
			</div>
	</nav>
	<!-- fim barra de navegação -->


	<!-- inicio da area de conteúdo -->
	<main>

		<div class="container">
			<h2 class="text-decoration-none text-primary">Entrega e Pagamento</h2>
			<hr>
			<!-- resumo do cliente -->
			<div class="row">
				<div class="col">
					<h4 class="text-decoration-none text-primary">Seus Dados:</h4>
					<div class="card bg-light">
						<div class="mx-2 my-2">
							<p th:text="${cliente.nome}"></p>
							<p th:text="${cliente.cpf}"></p>
						</div>
					</div>
				</div>
				<div class="col">
					<h4 class="text-decoration-none text-primary">Endereço de Entrega:</h4>
					<div class="card bg-light">
						<div class="mx-2 my-2">
							<p>Rua João da Silva, 345 - São Paulo/SP</p>
							<p>CEP 11.111-11</p>
						</div>
					</div>
				</div>
			</div>

			<hr>

			<form action="/finalizar/frete" method="POST">
				<div class="row">
					<div class="col">
						<h4 class="text-decoration-none text-primary">Selecione o Frete:</h4>
						<div class="list-group mx-0 w-auto">
							<label class="list-group-item d-flex gap-2 px-5">
								<input class="form-check-input flex-shrink-0" type="radio" name="listGroupRadios"
									id="listGroupRadios1" th:field="${venda.frete}" th:value="0.0" checked>
								<span>
									Econômica
									<small class="d-block text-muted">Frete Grátis - 5 dias úteis</small>
								</span>
							</label>
							<label class="list-group-item d-flex gap-2 px-5">
								<input class="form-check-input flex-shrink-0" type="radio" name="listGroupRadios"
									id="listGroupRadios2" th:field="${venda.frete}" th:value="9.90">
								<span>
									Expressa
									<small class="d-block text-muted">R$9.90 - 2 dias úteis</small>
								</span>
							</label>
							<label class="list-group-item d-flex gap-2 px-5">
								<input class="form-check-input flex-shrink-0" type="radio" name="listGroupRadios"
									id="listGroupRadios3" th:field="${venda.frete}" th:value="18.90">
								<span>
									Super Expressa
									<small class="d-block text-muted">R$18.90 - Receba amanhã</small>
								</span>
							</label>
						</div>
						<button class="btn btn-success btn-lg">Confirmar frete</button>
					</div>
			</form>

			<form action="/finalizar/confirmar" method="POST">

				<div class="col">
					<h4 class="text-decoration-none text-primary">Pagamento:</h4>
					<select class="form-select" aria-label="Default select example" name="formaPagamento"
						id="formaPagamento">
						<option selected>Selecione o método de pagamento:</option>
						<option value="Cartao">Cartão de Crédito</option>
						<option value="Pix">Pix</option>
						<option value="Boleto">Boleto</option>
					</select>

					<div class="row gy-3 pt-2">
						<div class="col-md-6" >
							<label for="cc-name" class="form-label">Titular do Cartão:</label>
							<input type="text" class="form-control" id="cc-name" placeholder="" required>

							<div class="invalid-feedback">
								Name on card is required
							</div>
						</div>

						<div class="col-md-6">
							<label for="cc-number" class="form-label">Número do Cartão</label>
							<input type="text" class="form-control" id="cc-number" placeholder="" required>
							<div class="invalid-feedback">
								Credit card number is required
							</div>
						</div>

						<div class="col-md-3">
							<label for="cc-expiration" class="form-label">Vencimento:</label>
							<input type="text" class="form-control" id="cc-expiration" placeholder="" required>
							<div class="invalid-feedback">
								Expiration date required
							</div>
						</div>

						<div class="col-md-3">
							<label for="cc-cvv" class="form-label">CVV</label>
							<input type="text" class="form-control" id="cc-cvv" placeholder="" required>
							<div class="invalid-feedback">
								Security code required
							</div>
						</div>
					</div>

				</div>
		</div>
		<!-- fim do frete e pagamento -->
		<hr>
		<!-- resumo do pedido -->

		<h4 class="text-decoration-none text-primary">Resumo do Pedido:</h4>
		<div class="card">
			<table class="table">
				<thead>
					<tr>
						<th>ID</th>
						<th>Nome</th>
						<th>Foto</th>
						<th>QTD</th>
						<th>Valor</th>
					</tr>
				</thead>
				<tbody>

					<tr th:each="item : ${listaItens}">
						<td th:text="${item.produto.id}"></td>
						<td th:text="${item.produto.nome}"></td>
						<td><img class="imgProduto" height="50px" width="50px" th:src="@{${item.produto.getFoto}}" />
						</td>
						<td th:text="${item.quantidade}"></td>
						<td th:text="${item.produto.valorVenda}"></td>
					</tr>

				</tbody>
			</table>
			<h4 class="text-dark text-end px-3 pt-4" th:text="${venda.valorTotal}"></h4>
			<div class="d-grid gap-2 d-md-flex justify-content-md-end px-3 pb-4">

				<a href="#" class="btn btn-outline-primary btn-lg">Voltar</a>
				<button class="btn btn-success btn-lg">Comprar</button>


			</div>

		</div>

		<!-- fim do resumo do pedido -->
		</form>
		</div>


	</main>


	<!-- fim da área de conteúdo -->



	<!-- início do rodapé -->
	<div style="height: 273px;" class="d-block d-md-none"></div>
	<div style="height: 153px;" class="d-none d-md-block d-lg-none"></div>
	<div style="height: 129px;" class="d-none d-lg-block"></div>
	<footer class="border-top fixed-bottom text-muted bg-light">
		<div class="container">
			<div class="row py-3">
				<div class="col-12 col-md-4 text-center text-md-left">
					&copy; 2022 - Farmacos Online
				</div>
				<div class="col-12 col-md-4 text-center">
					<a href="#" class="text-decoration-none text-dark">Trocas e Devoluções</a>
				</div>
				<div class="col-12 col-md-4 text-center text-md-right">
					<a href="#" th:href="@{/login}" class="text-decoration-none text-dark">Administrar</a>
				</div>
			</div>
		</div>
	</footer>
	<!-- fim do rodapé -->

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>

</html>