<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Loja Farmacos - Home Page</title>
        <!-- BOOTSTRAP -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

        <!-- Optional theme -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

        <!-- BOOTSTRAP ICONS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

        <!-- LIMITAR TAMANHO DA DESCRIÇÃO -->
        <style> 
            p.truncate-3l{
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        </style>
        <!--         Latest compiled and minified JavaScript 
                <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body style="min-width: 372px;">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary border-bottom shadow-sm mb-3">
            <!-- barra de navegação -->
            <!-- ATENÇÀO DEPOIS TROCAR TODOS OS HREF PELO MODELO DO THYMELEAF -->

            <div class="container">
                <a class="navbar-brand" th:href="@{/}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-heart-pulse" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053.918 3.995.78 5.323 1.508 7H.43c-2.128-5.697 4.165-8.83 7.394-5.857.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17c3.23-2.974 9.522.159 7.394 5.856h-1.078c.728-1.677.59-3.005.108-3.947C13.486.878 10.4.28 8.717 2.01L8 2.748ZM2.212 10h1.315C4.593 11.183 6.05 12.458 8 13.795c1.949-1.337 3.407-2.612 4.473-3.795h1.315c-1.265 1.566-3.14 3.25-5.788 5-2.648-1.75-4.523-3.434-5.788-5Zm8.252-6.686a.5.5 0 0 0-.945.049L7.921 8.956 6.464 5.314a.5.5 0 0 0-.88-.091L3.732 8H.5a.5.5 0 0 0 0 1H4a.5.5 0 0 0 .416-.223l1.473-2.209 1.647 4.118a.5.5 0 0 0 .945-.049l1.598-5.593 1.457 3.642A.5.5 0 0 0 12 9h3.5a.5.5 0 0 0 0-1h-3.162l-1.874-4.686Z"/>
                    </svg>
                    <strong>Farmacos Online</strong>
                </a>

                <button class="navbar-toggler" type="button" data-toogle="collapse" 
                        data-target="navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a href="#" class="nav-link text-white">Clientes</a>
                        </li>
                        <li class="nav-item">
                            <a th:href="@{/produto}" class="nav-link text-white">Produtos</a>
                        </li>
                    </ul>
                    <div class="align-self-end">
                        <ul class="navbar-nav flex-grow-1">

                            <li class="nav-item">
                                <a href="#" class="nav-link text-white">Cadastre-se</a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link text-white">Entrar</a>
                            </li>
                            <li class="nav-item">

                                <!-- icone do carrinho de compras -->
                                <a th:href="@{/}" class="nav-link text-white">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
                                    <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
        <!-- script para o banner -->
        <!--        <script>
                    var banners =["static/banner.jpg", "static/bannerMobile.jpg"]
                    var bannerAtual = 0;
                    function trocaBanner(){
                        bannerAtual = (bannerAtual + 1) % 2;
                        documento.querySelector('.banner-destaque img').src=banners[bannerAtual];
                    }
                    setInterval(trocaBanner, 3000);
                </script>-->

        <header class="container">
            <!--            <section class="banner-destaque">
                            <figure>
                                <img th:src="@{/banner.jpg}" alt=""/>
                            </figure>
                        </section>-->

            <div id="carouselMain" class="carousel carousel-dark slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselMain" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselMain" data-slide-to="1" class="active"></li>
                    <li data-target="#carouselMain" data-slide-to="2" class="active"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active text-center" data-interval="3000">

                        <img th:src="@{/banner.jpg}" alt="" class="img-fluid d-none d-md-block">
                        <img th:src="@{/bannerMobile.jpg}" alt="" class="img-fluid d-block d-md-none">

                    </div>
                    <div class="carousel-item text-center" data-interval="3000">

                        <img th:src="@{/banner.jpg}" alt="" class="img-fluid d-none d-md-block">
                        <img th:src="@{/bannerMobile.jpg}" alt="" class="img-fluid d-block d-md-none">

                    </div>
                    <div class="carousel-item text-center" data-interval="3000">

                        <img th:src="@{/banner.jpg}" alt="" class="img-fluid d-none d-md-block">
                        <img th:src="@{/bannerMobile.jpg}" alt="" class="img-fluid d-block d-md-none">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselMain" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                    <span class="visually-hidden">Anterior</span>
                </a>
                <a class="carousel-control-next" href="#carouselMain" role="button" data-slide="next">
                    <span class="carousel-control-next-icon"></span>
                    <span class="visually-hidden">Próximo</span>
                </a>
            </div>
            <hr class="mt-3">
        </header>

        <main class="mb-5 pb-5 mb-md-0">
            <!-- regiao de conteúdo -->
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-5"> <!-- FORMULARIO DE PESQUISA -->
                        <form th:action="@{/loja}" method="GET" class="justify-content-center justify-content-md-start mb-3 mb-md-0">
                            <div class="input-group mb-3">
                                <input type="text" class="form-control" name="keyword" placeholder="Pesquisa por nome*">
                                <button class="btn btn-primary" type="submit" id="button-addon2">Pesquisar</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-12 col-md-7">
                        <div class="d-flex flex-row-reverse justify-content-center justify-content-md-start">
                            <form class="ml-3 d-inline-block">
                                <select class="form-select form-select-sm">
                                    <option>Preço Maior</option>
                                    <option>Preço Menor</option>
                                </select>
                            </form>

                        </div>

                    </div>
                </div>
                <hr class="mt-3">

                <div class="row g-3">
                    <div class="col-xl-2 col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch" th:each="produto : ${listaProdutos}"> <!--<!-- responsividade -->
                        <div class="card text-center bg-light">
                            <img class="card-img-top" height="150px" width="150px"  th:src="@{${produto.getFoto}}"/>
                            <div class="card-header">
                                R$ <span th:text="${produto.valorVenda}"></span>
                            </div>
                            <div class="card-body">
                                <h5 class="card-title" th:text="${produto.nome}"></h5>
                                <p class= "card-text truncate-3l" th:text="${produto.descricao}"></p>
                            </div>
                            <div class="card-footer">
                                <!--TENTANDO INATIVAR UM PRODUTO NA TELA-->
                                <!--<div th:if="${produto.status.equalsIgnoreCase('inativo')}">
                                    <a th:href="@{/produto/showVerProduto/{id}(id=${produto.id})}"
                                       class="btn btn-primary">Detalhes</a> 
                                       <p>produto sem estoque</p>

                                </div>-->
                                <a th:href="@{/produto/showVerProduto/{id}(id=${produto.id})}"
                                   class="btn btn-primary">Detalhes</a>   
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
                <hr class="mt-3">
                <div class="row-pb-4">
                    <div class="col-12">

                    </div>

                </div>
                <!-- paginaçao -->
                <nav class="d-inline-block" th:if="${totalPages > 1}">
                    <ul class="pagination pagination-sm my-0">
                        <li class="page-item"></li>
                        <button class="page-link">
                            <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                                <a th:if="${currentPage != i}" th:href="@{'/loja/page/' + ${i}}">[[${i}]]</a>
                                <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
                            </span>
                        </button>
                        <button class="page-link">
                            <a th:if="${currentPage < totalPages}"
                               th:href="@{'/loja/page/' + ${currentPage + 1}}">Próximo</a>
                            <span th:unless="${currentPage < totalPages}">Próximo</span>
                        </button>
                        <button class="page-link">
                            <a th:if="${currentPage < totalPages}" th:href="@{'/loja/page/' + ${totalPages}}">Último</a>
                            <span th:unless="${currentPage < totalPages}">Último</span>
                        </button>

                    </ul>
                </nav>
            </div><!-- FIM DIV CONTAINER -->
        </main>




        <div style="height: 273px;" class="d-block d-md-none"></div>
        <div style="height: 153px;" class="d-none d-md-block d-lg-none"></div>
        <div style="height: 129px;" class="d-none d-lg-block"></div>
        <footer class="border-top fixed-bottom text-muted bg-light">

            <div class="container">
                <div class="row py-3">
                    <div class="col-12 col-md-4 text-center text-md-left">
                        &copy; 2022 - Farmacos Online
                    </div>
                    <div class="col-12 col-md-4 text-center">
                        <a href="#" class="text-decoration-none text-dark">Trocas e Devoluções</a>
                    </div>
                    <div class="col-12 col-md-4 text-center text-md-right">
                        <a href="#" th:href="@{/login}" class="text-decoration-none text-dark">Administrar</a>
                    </div>

                </div>
            </div>

        </footer>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </body>
</html>
