<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Gerenciamento de Usuários</title>
        <!-- BOOTSTRAP -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
              integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
        <!-- BOOTSTRAP ICONS -->
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
        <!--        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">-->

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
                integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
                integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
                integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

        <!-- LIMITAR TAMANHO DA DESCRIÇÃO -->
        <style>
            p.truncate-3l {
                display: -webkit-box;
                -webkit-line-clamp: 3;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        </style>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body style="min-width: 372px;">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary border-bottom shadow-sm mb-3">
            <!-- barra de navegação -->
            <!-- ATENÇÀO DEPOIS TROCAR TODOS OS HREF PELO MODELO DO THYMELEAF -->

            <div class="container">
                <a class="navbar-brand" th:href="@{/}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-heart-pulse" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053.918 3.995.78 5.323 1.508 7H.43c-2.128-5.697 4.165-8.83 7.394-5.857.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17c3.23-2.974 9.522.159 7.394 5.856h-1.078c.728-1.677.59-3.005.108-3.947C13.486.878 10.4.28 8.717 2.01L8 2.748ZM2.212 10h1.315C4.593 11.183 6.05 12.458 8 13.795c1.949-1.337 3.407-2.612 4.473-3.795h1.315c-1.265 1.566-3.14 3.25-5.788 5-2.648-1.75-4.523-3.434-5.788-5Zm8.252-6.686a.5.5 0 0 0-.945.049L7.921 8.956 6.464 5.314a.5.5 0 0 0-.88-.091L3.732 8H.5a.5.5 0 0 0 0 1H4a.5.5 0 0 0 .416-.223l1.473-2.209 1.647 4.118a.5.5 0 0 0 .945-.049l1.598-5.593 1.457 3.642A.5.5 0 0 0 12 9h3.5a.5.5 0 0 0 0-1h-3.162l-1.874-4.686Z"/>
                    </svg>
                    <strong>Farmacos Online</strong>
                </a>
                <button class="navbar-toggler" type="button" data-toogle="collapse" 
                        data-target=".navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <span sec:authentication="principal.username" class="nav-link text-white"></span>
                        </li>
                        <li sec:authorize="isAuthenticated()" class="nav-item">
                            <a th:href="@{/logout}" class="nav-link text-white"> Logout</a></li>
                        </li>
                    </ul>
                </div>

            </div>
        </nav>
        <div class="container my-2">
            <h1 class="text-primary" >Lista de Usuários:</h1>
            <br>
            <div class="row">
                <div class="col-12 col-md-5">
                    <form th:action="@{/usuario}" method="GET">
                        <div class="input-group mb-3">
                        <input class=form-control type="text" name="keyword" placeholder="Pesquisa por nome*">
                        <input type="submit" value="Search" class="btn btn-primary">
                        </div>
                    </form>
                </div>
                <div class="col-12 col-md-7">
                    <div class="d-flex flex-row-reverse justify-content-center justify-content-md-start">
                        <form class="ml-3 d-inline-block">
                            <a th:href="@{/usuario/showNewUsuarioForm}" class="btn btn-primary btn-lg mb-3">+</a>
                        </form>

                    </div>
                </div>
            </div><!-- row -->
            <hr class="mt-3">

            <div class="">
                <table border="1" class="table table-striped table-reponsive-md">
                    <thead>
                        <tr>
                            <th>Nome</th>
                            <th>CPF</th>
                            <th>E-mail</th>
                            <th>Telefone</th>
                            <th>Data Nasc</th>
                            <th>Cargo</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="usuario : ${listaUsuarios}">
                            <td th:text="${usuario.nome}"></td>
                            <td th:text="${usuario.cpf}"></td>
                            <td th:text="${usuario.email}"></td>
                            <td th:text="${usuario.telefone}"></td>
                            <td th:text="${usuario.dtNascimento}"></td>
                            <td th:text="${usuario.cargo}"></td>
                            <td th:text="${usuario.status}"></td>

                            <td> <a th:href="@{/usuario/showFormForUptade/{id}(id=${usuario.id})}"
                                    class="btn btn-primary">Atualizar</a> </td>

                            <td> <a th:href="@{/usuario/ativoInativo/{id}(id=${usuario.id})}"
                                    class="btn btn-primary">Ativar/Inativar</a> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <hr class="mt-3">

            <!-- paginacao -->
            <nav class="d-inline-block" th:if="${totalPages > 1}">
                <ul class="pagination pagination-sm my-0">
                    <li class="page-item"></li>
                    <button class="page-link">
                        <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                            <a th:if="${currentPage != i}" th:href="@{'/usuario/page/' + ${i}}">[[${i}]]</a>
                            <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
                        </span>
                    </button>
                    <button class="page-link">
                        <a th:if="${currentPage < totalPages}"
                           th:href="@{'/usuario/page/' + ${currentPage + 1}}">Próximo</a>
                        <span th:unless="${currentPage < totalPages}">Próximo</span>
                    </button>
                    <button class="page-link">
                        <a th:if="${currentPage < totalPages}" th:href="@{'/usuario/page/' + ${totalPages}}">Último</a>
                        <span th:unless="${currentPage < totalPages}">Último</span>
                    </button>

                </ul>
            </nav>

        </div>
        <div style="height: 273px;" class="d-block d-md-none"></div>
        <div style="height: 153px;" class="d-none d-md-block d-lg-none"></div>
        <div style="height: 129px;" class="d-none d-lg-block"></div>
        <footer class="border-top fixed-bottom text-muted bg-light">

            <div class="container">
                <div class="row py-3">
                    <div class="col-12 col-md-4 text-center text-md-left">
                        &copy; 2022 - Farmacos Online
                    </div>
                    <div class="col-12 col-md-4 text-center">
                        <a href="#" class="text-decoration-none text-dark">Trocas e Devoluções</a>
                    </div>
                    <div class="col-12 col-md-4 text-center text-md-right">
                        <a href="#" th:href="@{/login}" class="text-decoration-none text-dark">Administrar</a>
                    </div>

                </div>
            </div>

        </footer>
    </body>

</html>